html{
    
}

body{
   
    margin: 0;
    padding: 0;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 20px;
    overflow: hidden;
    background-color: #898989;
}

li{
    display: inline;
    margin: 100px;
}

a{
    color: aliceblue;
    font-family: 'Pacifico', cursive;
    font-size: 20px;
}

.background{
    background-image: url('../images/bg-image.jpg');
    background-color: #cccccc;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

h1{
    padding: 30px;
}
/*
h1{
    font:  'Pacifico', cursive;
    position: absolute;
    top: 28%;
    left: 28%;
    font-size: 100px;
    color: white;
    
}*/

.title-shop{
    font:  'Pacifico', cursive;
    position: absolute;
    /*top: 28%;
    left: 28%;*/
    font-size: 20px;
    color: white;
}

th,tr{
    padding: 20px;
    text-align: center;
}